.contact {
  padding: 24px 32px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

p {
  color: rgb(52, 52, 52);
}

.btn {
  background-color: rgb(212, 30, 30);
  padding: 8px;
  border: none;
  cursor: pointer;
  color: azure;
  border-radius: 8px;
}

.btn:hover {
  background-color: rgb(171, 20, 20);
}

.contactName {
  font-weight: 500;
  font-size: 18px;
}

.icon {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  height: 32px;
  width: 32px;
}
