.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 360px) {
  .container {
    padding: 56px 120px;
  }
}

.title {
  color: rgb(52, 52, 52);
  font-size: 48px;
}
