.container {
  padding: 24px 0;
  color: rgb(47, 47, 47);
}

@media screen and (min-width: 360px) {
  .container {
    padding: 24px;
  }
}

@media screen and (min-width: 712px) {
  .container {
    padding: 24px 160px;
  }
}

.title {
  text-align: center;
}
